<section>
  <div className="containerProdList">
    <div className="productosTitle">
      <h2 className="">Produtos em alta</h2>
      <a href="/todos" className="">Ver todos<i className="ph ph-arrow-right"></i></a>
    </div>

    <div className="produtosGrid">
      <div class="produtosCard">
        <div class="productBadge">          
        </div> 

        <div class="produtoImage">
          <img src="public/product-image-grid.png" alt=""/>
        </div>

        <div class="produto">
          <span class=""></span>
          <h3 class="produtoNome"></h3>
          <div class="produtoPreco">
            <span class="originalPreco"></span>
            <span class="atualPreco"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>