<section class="colecoesIcones">
    <div class="icon">
      <h2 class="">Coleções em destaque</h2>
  
      <div class="iconGrid">
        <a class="" href="/categoria/camisetas">
          <div class="icon">
            <i class="ph ph-t-shirt"></i>
          </div>
          <span class="category-name text-sm font-medium">Camisetas</span></a>
  
        <a class="" href="/categoria/calcas">
          <div class="icon">
            <i class="ph ph-pants"></i>
          </div>
          <span class="">Calças</span></a>
  
        <a class="" href="/categoria/bones">
          <div class="icon">
            <i class="ph ph-baseball-cap"></i>
          </div>
          <span class="">Bonés</span></a>
  
        <a class="" href="/categoria/headphones">
          <div class="icon">
            <i class="ph ph-headphones"></i>
          </div>
          <span class="category-name text-sm font-medium">Headphones</span></a>
  
        <a class="" href="/categoria/tenis">
          <div class="icon">
            <i class="ph ph-sneaker"></i>
          </div>
          <span class="category-name text-sm font-medium">Tênis</span></a>
      </div>
  
    </div>
  </section>